body{
    background:rgb(255, 7, 7);
    margin: 0;
    padding: 50px;
    color:white;
    position: relative;
}
.design
{
font-family: "Lucida Handwriting";
font-size: 40px;
border-style: outset;
width: 450px;
height: 1550px;
float: left;

.js{
    font-family: "Copperplate";
    font-size: 300px;
    float: right;
}
}

.container{
    background-color:rgb(6, 143, 26);
    padding: 30px;
    width: 600px;
    height: 1500px;
    position: relative;
    float: right;
    
}

.titles {
    text-decoration: underline;
}
p{
   text-align: right;
}

button{
    float: right;
}