body{
    background:rgb(255, 7, 7);
    margin: 0;
    padding: 50px;
    color:white;
}

.container{
    background-color:rgb(6, 143, 26);
    padding: 30px;
}

.titles {
    border: 5px;
    border-color: yellow;
}
p{
   text-align: right;
}

button{
    float: right;
}